<h1>Friends</h1>

<% if !@friends.empty? %>
    <%= render 'friends/list'%>
<% else %>
    <div class="row">
        <div class="col-9">
            <h3>You don't have any friends currently</h3>
        </div>
    </div>
<% end %>